body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DIN-Medium', sans-serif ;
  background-color: #F9F9F9;
}

code {
  font-family: 'DIN-Medium', sans-serif ;
  font-weight: 500;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

.containerLogo{
  display: flex;
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 2px #333;
  justify-content: flex-start;
  padding: 5px 30px;
  justify-content: space-between;
  align-items: center;}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.logobtn{
  border: none;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  width: 250px;
  color: #2f2f2f;
}

.subtitleReparacion{
  display: none;
}

.containerSubtitle{
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 2px #333;
  justify-content: flex-start;
  padding: 5px 30px;
  font-weight: 100;
}

.containerForm{
  margin: 50px 10px 20px 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #f2f2f2;
    border-top: solid 0.2px rgba(80, 80, 80, 0.326);
    border-left: solid 0.2px rgba(80, 80, 80, 0.326);
    border-radius: 10px;
}

.form{
    margin: 20px 10px 20px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
}

.form-control{
  display: none;
}

.fileName{
  margin: 10px 5px;
  padding: 12px;
  font-family: 'DIN-Medium', sans-serif;
  font-weight: bold;
  width: 600px;
  max-width: 600px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis;
  cursor:no-drop; 
}

.alert{
  background-color: rgb(255, 62, 62);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'DIN-Medium', sans-serif ;
}

.alertSuccess{
  background-color: #28a745;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 0px 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'DIN-Medium', sans-serif ;
}

.alertInfo{
  background-color: #17a2b8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 0px 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'DIN-Medium', sans-serif ;
}

.loading{
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#input-file{
  display: none
}

.btnLabel{
  margin: 10px 0;
  font-family: 'DIN-Medium', sans-serif;
  font-weight: bold;
  padding: 10px;
  width: 250px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnLabel:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
  background-color: #151414;
}

.btn{
  margin: 10px 0;
  font-family: 'DIN-Medium', sans-serif;
  font-weight: bold;
  padding: 5px 2px;
  width: 250px;
  height:30px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
  background-color: #151414;
}

.dataBase{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 10px;
  
}

.dataBaseDescarga{
  display: flex;
  justify-content: space-between;
  width: 90;
  margin: 10px 30px;
  
}

.btnDataBase{
  margin: 10px 0;
  font-family: 'DIN-Medium', sans-serif ;
  font-weight: bold;
  padding: 5px 2px;
  width: 200px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 5px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnDataBase:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
  background-color: #151414;
}

.btnDataBaseCotizacion{
  margin: 10px 0;
  font-family: 'DIN-Medium', sans-serif ;
  font-weight: bold;
  padding: 5px 2px;
  width: 200px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 5px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnDataBaseCotizacion:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
  background-color: #151414;
}

.btnDataBaseRazonSocial{
  margin: 10px 0;
  font-family: 'DIN-Medium', sans-serif ;
  font-weight: bold;
  padding: 5px 2px;
  width: 220px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 5px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnDataBaseRazonSocial:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
  background-color: #151414;
}



.btnDataBaseDescargarXLS{
  margin: 10px 0;
  font-family: 'DIN-Medium', sans-serif ;
  font-weight: bold;
  padding: 5px 2px;
  width: 200px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 5px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnDataBaseDescargarXLS:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
  background-color: #151414;
}

.btnDataBaseCotizacionRefresh{
  margin: 10px 0;
  font-family: 'DIN-Medium', sans-serif ;
  font-weight: bold;
  padding: 5px 2px;
  width: 200px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 5px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnDataBaseCotizacionRefresh:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
  background-color: #151414;
}

.btnDataBaseCotizacionRefreshNo{
  display: none;
  width: 200px;
  font-size: 12px;
}

.btnDataBaseDelete{
  margin: 10px 0;
  font-family: 'DIN-Medium', sans-serif ;
  font-weight: bold;
  padding: 5px;
  width: 200px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 5px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed
}

/* .btnDataBaseDelete:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
  background-color: #151414;
} */

.btn-no{
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 5px;
  width: 250px;
  height:30px;
  font-size: 12px;
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #f9f9f9;
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 5px;
}


.icons{
  font-size: 18px;
  margin: 3px;
  display: flex;
}

.view{
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border-top: solid 0.2px rgba(80, 80, 80, 0.326);
  border-left: solid 0.2px rgba(80, 80, 80, 0.326);
  font-size: 13px;
}


.excelTitle{
  margin: 10px;
  font-size: 20px;
}

.excelTable{
  width: 200px;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}

.excelTableTitleContainer{
  width: 200px;
  border: 1px solid black;
}

.excelTableTitle{
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.822);
  font-weight: bold;
  border: 1px solid black;
}
.excelTableValores{
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  font-size: 11px;
  color: rgb(38, 38, 38);
  border: solid 1px  rgb(193, 193, 193);
}

/*MODAL RESTART*/

.modal{
  padding: 150px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 109, 109, 0.5);
  z-index: 9999;
  justify-content: center;
}

.wrapperModal{
  width: 600px;
  margin: auto;
  overflow-x: hidden;
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.883);
  border: black 2px solid;
  border-radius: 10px;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center
  }
  
.titleModal{
  font-size: 18px;
  color: rgb(56, 56, 56);
}

.btnModal{
margin: 10px 0;
font-family: 'DIN-Medium', sans-serif;
font-weight: bold;
padding: 5px 2px;
width: 200px;
height:30px;
font-size: 12px;
color: #000000;
background-color: #ffffff;
border-color: #000000;
border-radius: 5px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.btnModal:hover{
opacity: 0.8;
transition: all 0.5s;
color: white;
background-color: #151414;
}

.wrapperBtnModal{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/*Mobile*/

@media (max-width: 1400px) {
  #input-file{ 
    width: 700px;
  }
  .btn{
    font-size: 10px;
    width: 170px;
  }
  .btn-no{
    font-size: 10px;
    width: 170px;
  }
  .btnDataBaseDelete{
    font-size: 10px;
    width: 170px;
  }
  .excelTableTitle{
    margin: 5px;
    padding: 5px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.822);
    font-weight: bold;
    border: 1px solid black;
  }
  .excelTableValores{
    margin-top: 5px;
    padding:2px;
    font-size: 8px;
    color: rgb(38, 38, 38);
    border: solid 1px  rgb(193, 193, 193);
  }
}

@media (max-width: 850px) {
  #input-file{ 
    width: 300px;
  }
  .btn{
    width: 150px;
  }
  .btn-no{
    width: 150px;
  }
  .btnDataBase{
    display: none;
  }
  .btnDataBaseDelete{
    display: none;
  }
  .subtitle{
    display: none;
  }
  .subtitleReparacion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    color: #2f2f2f;
    width: 100%;
  }
  
  .excelTable{
    margin: 8px;
    padding: 8px;
    font-size: 12px;
  }
  
  .excelTableTitle{
    margin: 2px;
    padding: 2px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.822);
    font-weight: bold;
    border: 1px solid black;
  }
  .excelTableValores{
    margin-top: 5px;
    padding:2px;
    font-size: 8px;
    color: rgb(38, 38, 38);
    border: solid 1px  rgb(193, 193, 193);
  }
}

@media (max-width: 555px) {
  .form{
    width: 100%;
    margin: 0px
  }
  #input-file{ 
    width: 200px;
    padding: 5px;
  }
  .btn{
    width: 100%;
    font-size: 10px;
    margin: 5px;
  }
  .btn-no{
    width: 150px;
    font-size: 10px;
  }
  .subtitleReparacion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    color: #2f2f2f;
    width: 100%;
  }
}
