body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DIN-Medium', sans-serif ;
  background-color: #F9F9F9;
}

code {
  font-family: 'DIN-Medium', sans-serif ;
  font-weight: 500;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

.containerLogo{
  display: flex;
  width: 100%;
  background-color: #333;
  justify-content: flex-start;
  padding: 5px 30px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
}


.subtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:15px;
  color: #2f2f2f;
}

.subtitleReparacion{
  display: none;
}

.containerForm{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 20px 0px;
  padding: 0px 20px;
}

.form{
    margin: 50px 10px 20px 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    border-top: solid 0.2px rgba(80, 80, 80, 0.326);
    border-left: solid 0.2px rgba(80, 80, 80, 0.326);
    border-radius: 10px;
    
}

.alert{
  background-color: rgb(255, 62, 62);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'DIN-Medium', sans-serif ;
}

#input-file{
  padding: 5px;
  width: 700px;
  border-radius: 5px;
  border: 1px solid rgba(56, 56, 56, 0.304);
  display: flex;
  background-color: #ffffff;
}

.btn{
  padding: 8px;
    width: 300px;
    color: white;
    border: none;
    background-color: #111;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
  background-color: #151414;
}

.dataBase{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0px 30px;
  
}

.btnDataBase{
  margin: 10px 0;
  font-family: 'DIN-Medium', sans-serif ;
  font-weight: bold;
  padding: 5px;
  width: 250px;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnDataBase:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
}


.btnDataBaseDelete{
  margin: 10px 0;
  font-family: 'DIN-Medium', sans-serif ;
  font-weight: bold;
  padding: 5px;
  width: 250px;
  color: #fff;
  background-color: #111;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnDataBaseDelete:hover{
  opacity: 0.8;
  transition: all 0.5s;
  color: white;
}

.btn-no{
  padding: 5px;
  width: 300px;
  color: rgb(255, 255, 255);
  background-color: rgb(201, 201, 201);
  border: none;
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 5px;
}


.icons{
  font-size: 18px;
  margin: 3px;
  display: flex;
}

.view{
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border-top: solid 0.2px rgba(80, 80, 80, 0.326);
  border-left: solid 0.2px rgba(80, 80, 80, 0.326);
}


.excelTitle{
  margin: 10px;
  color: #dc3545;
}

.excelTable{
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}

.excelTableTitleContainer{
  border: 1px solid black;
}

.excelTableTitle{
  margin: 10px;
  padding: 10px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.822);
  font-weight: bold;
  border: 1px solid black;
}
.excelTableValores{
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  color: rgb(38, 38, 38);
  border: solid 1px  rgb(193, 193, 193);
}

/*Mobile*/

@media (max-width: 1200px) {
  #input-file{ 
    width: 500px;
  }
  .btn{
    width: 200px;
  }
  .btn-no{
    width: 200px;
  }
}

@media (max-width: 800px) {
  #input-file{ 
    width: 300px;
  }
  .btn{
    width: 150px;
  }
  .btn-no{
    width: 150px;
  }
  .view{
    display: none;
  }
  .btnDataBase{
    display: none;
  }
  .btnDataBaseDelete{
    display: none;
  }
  .subtitle{
    display: none;
  }
  .subtitleReparacion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    color: #2f2f2f;
    width: 100%;
  }
}

@media (max-width: 555px) {
  .form{
    width: 100%;
    margin: 0px
  }
  #input-file{ 
    width: 200px;
    padding: 5px;
  }
  .btn{
    width: 100%;
    font-size: 10px;
    margin: 5px;
  }
  .btn-no{
    width: 150px;
    font-size: 10px;
  }
  .subtitleReparacion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    color: #2f2f2f;
    width: 100%;
  }
}