body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
  padding: 20px;
}

.containerLogo{
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}


.subtitle{
  display: flex;
  justify-content: center;

  align-items: center;
  font-size:15px;
  color: #2f2f2f;
}

.containerForm{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 20px 0px;
}

.form{
  width: 350px;
  margin: 10px 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: solid 0.2px rgba(40, 40, 40, 0.326);
  border-bottom: solid 0.2px rgba(40, 40, 40, 0.326);
}
.form input[type=file]{
  
}

.alert{
  background-color: rgb(255, 62, 62);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 350px;
  margin: 10px;
  border-radius: 5px;
}

#input-file{
  width: 100%;
  display: flex;
}

.btn{
  margin: 10px 0;
  padding: 5px 5px 5px 5px;
  width: 200px;
  color: white;
  border: none;
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  cursor:pointer;
}
.btn:hover{
  opacity: 0.8;
  transition: all 0.5s;
  transform: translatey(2px);
  color: white;
  background-color: #2f2f2f;
}

.btn-no{
  margin: 10px 0;
  padding: 5px 5px 5px 5px;
  width: 200px;
  color: rgb(255, 255, 255);
  background-color: rgb(201, 201, 201);
  border: none;
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 5px;
}

.dataBase{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.btnDataBase{
  margin: 10px 0;
  padding: 5px 5px 5px 5px;
  width: 250px;
  color: white;
  border: none;
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  cursor:pointer;

}
.btnDataBase:hover{
  opacity: 0.8;
  transition: all 0.5s;
  transform: translatey(-2px);
  color: white;
  background-color: #2f2f2f;
}

.icons{
  font-size: 18px;
  margin:0;
}

.view{
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border-top: solid 0.2px rgba(80, 80, 80, 0.326);
  border-left: solid 0.2px rgba(80, 80, 80, 0.326);
}

input[type="file"] {
  border: none;
}


.excelTitle{
  margin: 10px;
  color: red;
}

.excelTable{
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
.excelTableTitle{
  margin: 10px;
  padding: 10px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.822);
  font-weight: bold;
  border-top: solid 1px rgb(0, 0, 0);
  border-left: solid 1px rgb(0, 0, 0);
}
.excelTableValores{
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  color: rgb(38, 38, 38);
  border: solid 1px  rgb(193, 193, 193);
}